.episodeContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  overflow: hidden;
  height: 26px;
  transition: height 300ms ease-in-out;
  cursor: pointer;
  position: relative;
  padding-top: 5px;
  max-width: 100%;
}

.episodeContainer.expanded {
  height: 90px;
}

.episodeName {
  font-size: 20px;
  font-weight: 300;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}

.episodeNameContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.episodeDetails {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17.3px 10px 0 10px;
  border-color: grey transparent transparent transparent;
  position: absolute;
  right: 0;
  transition: transform 300ms ease-in-out;
}

.triangle.rotated {
  transform: rotate(90deg);
}
